$black: #051923;
$black: #adbabd;
* {
  box-sizing: border-box;
}
body {
  background: #efefef;
  font-family: Lato, sans-serif;
}
.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 325px;
  height: 580px;
  background-image: url('http://i.imgur.com/nwmywCl.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.15);
  .shoes {
    position: absolute;
    width: 500px;
    left: -55px;
    top: 85px;
  }
  .logo {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 55px;
  }
}
.cardTwo {
  z-index: -1;
  background: #ffffff;
  height: 525px;
  width: 500px;
  border-radius: 0px 20px 20px 0px;
  padding: 32px 40px;
  position: relative;
  h1.shoe-title {
    color: $black;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .price-listing {
    display: flex;
    align-items: center;
    height: 20px;
  }
  .price {
    font-size: 1.5rem;
    margin-right: 16px;
  }
  .oldPrice {
    text-decoration: line-through;
    color: $black;
    font-size: 1rem;
  }
  p.shoe-detail {
    color: #5f6668;
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  p.label {
    color: #5f6668;
    font-size: 1.25rem;
    margin: 0;
    width: 125px;
  }
  .size {
    display: flex;
    align-items: center;
    height: 40px;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: 24px;
        &:last-child {
          margin-right: 0px;
        }
      }
      .selected {
        color: white;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          background: $black;
          top: 0;
          left: 0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.button-container {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
  z-index: 100;
  &:hover {
      .hollow {
      background: $black;
        color: white;
      }
   }
  button {
    padding: 16px 24px;
    margin-right: 24px;
    border-radius: 50px;
    flex: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Lato;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
  }
  
}
.hollow {
    background: transparent;
    border: 3px solid $black;
    color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
.primary {
  background: $black;
  color: white;
  border: 3px solid $black;
}

  
    

